@model IEnumerable<TelmaBolossite.Entidades.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Categoria:</h1>

<p>
    <a class="btn btn-secondary btn-sm" asp-action="Create">Adicionar nova categoria</a>
</p>

<p>
    <a class="btn btn-secondary btn-sm" asp-controller="Produtos" asp-action="Index">Cadastrar novo produto</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-outline-secondary" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
